body {
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #1F2937;
    padding: 8px 22%;
    gap: 50px;
    padding-bottom: 50px;
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

a {
    text-decoration: none;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

a, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opening {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.button1 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    align-self: flex-start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.info-cards {
    display: flex;
    gap: 16px;
    margin-bottom: 100px;
}

.info-card {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.info-card img{
    border: 3px solid #3882F6;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.opening img {
    display: flex;
    flex-shrink: 1;
    height: 300px;
    width: 500px;
    border-radius: 10px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote {
    margin: 100px 22%;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-author{
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF8;
}

.signup-panel {
    display:flex;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    width: 800px;
    padding: 30px;
    margin: 80px;
}

.signup-header {
    font-weight: bold;
    font-size: 16px;
}

.button2 {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid;
    border-radius: 2px;
}

.footer {
    height: 70px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
